@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --light-gray : hsl(236, 33%, 92%);
    --grayish-blue: hsl(240, 4%, 42%);

    /*``````````dark theme``````````````````*/
    --darktheme-desaturated-Blue: hsl(235, 24%, 19%);
    --darktheme-gray : hsl(234, 39%, 85%);
    --darktheme-grayish-blue : hsl(230, 7%, 33%); 
}
 
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
    text-align: center;
}

.bg{
    background: url(/images/bg-desktop-light.jpg) center no-repeat;
    background-size: cover;
    width: 100vw;
    height: 23rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    right: 0;
    left: 0;
    width: 100vw;
    gap: 3rem;

}

.container .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max(45vw, 30rem);
}

.heading .name{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    letter-spacing: 0.7rem;
}
.heading img{
    cursor: pointer;
}

.sun-icon{
    display: none;
}

.container .content{
    width: max(45vw, 30rem);
}

.content .add-todo input{
    padding: 1.2rem;
    width: 100%;
    border-radius: 0.3rem;
    background-color: white;
    margin-bottom: 2rem;
    border: none;
    font-weight: 700 ;
    font-size: 1.1rem;
    color: var(--grayish-blue);
    font-family: 'Josefin Sans', sans-serif;
}

.content .todo-list{
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0.6em 0.6em .6em  rgba(0, 0, 0, 0.153), -0.3em 0 .4em rgba(0, 0, 0, 0.2);
} 

.todo-list .list-preview{
    list-style: none;
}

.todo-list .list-preview li {
    padding: 1rem 1.2rem;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}

.checked-item{
    text-decoration: line-through;
    color: pink;
    background-color: aqua;
}

.list-preview li [type = checkbox]{
    appearance: none;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    border: 1.5px solid var(--light-gray);
}

.list-preview li [type = checkbox]:hover{
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border: 2px solid transparent;
}

.list-preview li [type = checkbox]:checked{
    background-image: url(/images/icon-check.svg), linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: none;
    background-repeat: no-repeat;
    background-position: center; 
}

.content .actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    color: var(--grayish-blue);
}

.actions .todo-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.7rem;
}

.todo-status div, .todo-status div{
    cursor: pointer;
}

.actions .clear{
    cursor: pointer;
}

.actions .clear:hover{
    color: var(--light-gray) ;
}

.todo-status div:hover, .todo-status div:hover{
    color: var(--light-gray) ;
}

.todo-status-mobile{
    display: none;
}


/*```````````````````DARK THEME``````````````````````````*/
.content .add-todo.dark input{
    background-color: var(--darktheme-desaturated-Blue);
    color: var(--darktheme-gray);
}
.content .todo-list.dark{
    background-color: var(--darktheme-desaturated-Blue);
    color: var(--darktheme-gray);
}

.todo-list .list-preview.dark li {
    border-bottom: 1px solid var(--darktheme-grayish-blue);
}

.list-preview.dark li [type = checkbox]{
    border: 1.5px solid var(--darktheme-grayish-blue);
}

/*```````````````````````````````````````````````````````*/


/*``````````````````MOBILE DESIGN```````````````````````````````*/
@media only screen and (max-width: 520px){

body{
    font-size: 0.8rem;
}

.bg{
    background-image: url(/images/bg-mobile-light.jpg) center no-repeat;
    height: 12rem;
}

.container{
    top: 3rem;
    gap: 0;
}

.container .heading, .container .content{
    width: 85vw;
}

.container .heading{
    margin-bottom: 2rem;
}


.heading .name{
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.content .add-todo input{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    padding: 1rem;

}

.todo-list .list-preview li {
    padding: 0.8rem 1.2rem;
}

.list-preview li [type = checkbox]{
    width: 1.3rem;
    height: 1.3rem;
}

.actions .todo-status{
    display: none;
}

.todo-status-mobile{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-block: 1.3rem;
    background-color: white;
    box-shadow: 0.4em 0.4em .4em  rgba(0, 0, 0, 0.153), -0.3em 0 .3em rgba(0, 0, 0, 0.2);
    width: 85vw;
    padding: 1rem;
    border-radius: 0.3rem;
    font-weight: 700;
}

.todo-status-mobile.dark{
    color: var(--darktheme-gray);
    background-color: var(--darktheme-desaturated-Blue);
}

}
